*                           text=auto
*.[cC]                      text
*.[cC][pP][pP]              text
*.[hH]                      text
*.[hH][pP][pP]              text
*.[tT][xX][tT]              text
*.vcproj                    text eol=crlf
*.vcproj.filters            text eol=crlf
*.vc[a-zA-Z]proj            text eol=crlf
*.vc[a-zA-Z]proj.filters    text eol=crlf
*.[sS][lL][nN]              text eol=crlf
*.sh                        text eol=ln
*.py                        text
*.md                        text

# no normalization
*.[pP][dD][fF]              -text
*.[pP][sS]                  -text

