## Ignore Visual Studio temporary files and build results
/.vs/
*.VC.db
*.VC.opendb

# User-specific files
*.suo
*.user

# Build results
/[Aa]rtifacts/
[Bb]uildInt/


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx
